{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div>
  
  <div class="author__content" style="text-align: center;">
    <a href="https://flpm-workshop.github.io/"><img src="/images/flpm-Logo.jpg" style="width: 200px"></a>
  </div>
  <br/>

  <div class="author__content" style="text-align: center;"> 
    <p class="author__bio">Workshop organized in conjunction with the 26th conference in the EDOC series October 2022</p>
   
  </div>
  <br/>
  
  <div class="author__content" style="text-align: center;"> 
    <p class="author__bio"><b>Paper submission (Extended)</b><br/> 29 July 2022</p>
  </div>
  <br/>  
  
   <div class="author__content" style="text-align: center;">
    <p>This event is officially endorsed by the <b>IEEE Task Force on Process Mining</b></p>
    <a href="https://www.tf-pm.org/"><img src="/images/tfpm_logo.jpg" style="width: 150px"></a>
  </div>    
  

  <div class="author__content" style="text-align: center;">
  <p>03-07 October, 2022</b></p>
<p>Bolzano-Bozen Italy</b></p>
<a href="http://edocconference.org/2022/"><img src="/images/EDOClogo.jpg" style="width: 150px"></a>


  </div>
  
</div>

